:host {
  display: block;
  border: 2px solid #6750A4;
  margin: 2rem;
  padding: 1rem;
  width: 20rem;
  max-width: 100%;
}

form input {
  font: inherit;
  color: #6750A4;
  padding: 0.15rem 0.25rem;
  display: block;
  margin: 0 0 0.5rem;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid #59458D;
  background-color: #6750A4;
  color: #fff;
  cursor: pointer;
}

form button:hover,
form button:focus {
  background-color: #59458D;
}

form button[disabled] {
  background-color: #ccc;
  border: 1px solid #bbb;
  color: #fff;
  cursor: not-allowed;
}

h1 {
  margin: 0;
}
