:host {
  display: block;
  border: 2px solid var(--color-primary);
  margin: 2rem;
  padding: 1rem;
  width: 20rem;
  max-width: 100%;
}

form input {
  font: inherit;
  color: var(--color-primary);
  padding: 0.15rem 0.25rem;
  display: block;
  margin: 0 0 0.5rem;
}

form button {
  font: inherit;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-primary-active);
  background-color: var(--color-primary);
  color: #fff;
  cursor: pointer;
}

form button:hover,
form button:focus {
  background-color: var(--color-primary-active);
}

h2 {
  margin: 0 0 0.5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li button {
  margin: 0.25rem 0;
  padding: 0.25rem;
  border: 1px solid #eff1fa;
  background-color: #eff1fa;
  color: var(--color-primary-active);
  text-align: left;
  cursor: pointer;
  width: 100%;
}

li button:hover,
li button:focus {
  background-color: #e6e9f7;
  color: var(--color-primary-active);
}
